{% extends "front.layouts.app" %}

{% block content %}
    <div class="jumbotron">
        <h2>{{ user.name }}</h2>
        <h3>{{ copy.name }}</h3>
    </div>

    <div class="row">
        {% for item in process.tasks %}
            {% set status = item.getStatus(copy.id) %}
            <div class="col-lg-12" style="border-bottom: 1px solid #ccc; margin-bottom: 24px; padding-bottom: 24px">
                <p>{{ item.title }}</p>
                {% if status is empty %}
                <form method="post" action="{{ route('front_process_task') }}">
                    <input type="hidden" name="copy_id" value="{{ copy.id }}">
                    <input type="hidden" name="task_id" value="{{ item.id }}">
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-lg-8">
                            <textarea class="form-control" rows="5" name="comment" required></textarea>
                        </div>

                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-success btn-block">Отправить</button>
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert">
                                <p>{{ status.comment }}</p>
                                <p>Отправлено<br>{{ status.is_ready | date("d.m.Y H:i") }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}